/* -------------------------------------------------
   1. FUENTES Y CONFIGURACIÓN GLOBAL
--------------------------------------------------*/

/* Importación de la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fuente global para toda la página */

/* Normalizacion de la pagina */
* {
    background: rgb(56, 56, 56);
    font-family: 'Poppins', sans-serif;
    /* Box sizing para que el tamaño de las box sea por el borde y respete los estilos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------
   2. ELEMENTOS ESTRUCTURALES (LAYOUT BASE)
--------------------------------------------------*/

header {
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
}

main {
    padding: 2rem;
    background-color: #32133b;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4d275c;
    color: #ffffff;
}

background {
    background-color: #220020;
}

/* Contenido principal */
.main-content {
    background-color: #2a0b3d;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
}

.section {
    margin-bottom: 2rem;
}

/* -------------------------------------------------
   3. COMPONENTES / BLOQUES COMPLEJOS
--------------------------------------------------*/

.navbar-container {
    background-color: #61205e;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

.titulo {
    color: #ffffff;
    text-align: center;
    background-color: #1a044e;
}

.elemento-1 {
    font-size: 20;
    color: #ffffff;
    background-color: #830c69;
}

/* -------------------------------------------------
   4. TIPOGRAFÍA / ENCABEZADOS
--------------------------------------------------*/

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 5px;
    font-weight: 600;
    border-radius: 8px;
    color: #ffffff;
    background-color: #830c83;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    padding-left: 5px;
    font-weight: 400;
    border-radius: 8px;
    color: #ffffff;
    background-color: #990ef5;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    padding-left: 5px;
    font-weight: 300;
    border-radius: 8px;
    color: #ffffff;
    background-color: #350066;
}

/* -------------------------------------------------
   5. ELEMENTOS INTERACTIVOS / UTILIDADES
--------------------------------------------------*/

/* Base */
.pill {
    display: inline-block;
    padding: 7px 7px;
    border-radius: 9999px;
    background-color: #a50089;
    color: white;
    margin-right: 10px;
}

/* Variaciones */
.pill-gris {
    background-color: #814b88;
}
.pill-rosa {
    background-color: #ad0da5;
}

/* Enlaces */
.link {
    text-decoration: none;
    color: #ffffff;
}
